<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src={% static 'xmainsite/js/user_reg.js' %}></script>
</head>
<body>
<form action="" method="post" id="reg_form">
    <h1>Зарегистрируйтесь пожалуйста.</h1><br>
    <input id="id_login" name="n_login" type="text" class="form-control" placeholder="Enter Your Name as Login"><br>
    <input id="id_email" name="n_email" type="email" class="form-control" placeholder="Enter Your e-mail: name@example.ru"><br>
    <input id="id_city" name="n_city" type="text" class="form-control" placeholder="Enter Your City"><br>
    <input id="id_country" name="n_country" type="text" class="form-control" placeholder="Enter Your Country"><br>
    <input id="id_phone" name="n_phone" type="text" class="form-control" placeholder="Enter Your Phone Number"><br>
    <input id="id_password0" type="password" name="n_password" class="form-control" placeholder="Enter Your Password"><br>
    <input id="id_password1" type="password" class="form-control" placeholder="Confirm Your Password">    <br>
    <button id="id_send" class="btn btn-outline-primary">Зарегистрироваться</button>

</form>
</body>
</html>